# Ignoruj celý priečinok target/
target/

# Výnimka: povoľ JAR súbory v priečinku target/
!target/*.jar

# Maven Wrapper JAR (neignorovať Maven Wrapper)
!.mvn/wrapper/maven-wrapper.jar

# Ignoruj build priečinky IntelliJ IDEA, NetBeans, a VS Code
.idea
*.iws
*.iml
*.ipr
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

# Povolenie build súborov v štruktúre zdrojového kódu
!**/src/main/**/build/
!**/src/test/**/build/

# Ignoruj VS Code konfiguračný priečinok
.vscode/

# Spring Tool Suite (STS) a Eclipse nastavenia
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# Pomocné súbory
HELP.md
